.main-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border: ;
}